@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Ubuntu&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}



body {
    font-family: Heebo, sans-serif;
    font-weight: 200;
    color: #453823;
}

/*header*/

#header {
    height: 100px;
    width: 100%;
    background-color: rgba(192, 161, 114, 0.5);
}

h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2C2416;
}


#logo {
    float: right;
    font-size: 200%;
    padding-right: 20%;
    margin-right: 75px;
    line-height: 70px;
 }

.container {
    max-width: 300px;
    width: 33%;
    margin: auto;
  }
  
  .navbar {
    width: 33%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 0%);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #2C2416;
    font-weight: 700;
    font-size: 2rem;
    padding: 0.5rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 30px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #2C2416;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
/*main image*/

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/breastfeeding.jpg') no-repeat center center;
    background-size: cover;
}

/*About Me*/

.about-me-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 5px;
    grid-row-gap: 5px; 

    background-color: rgba(192, 161, 114, 0.5);

    font-family: Heebo, sans-serif;
    line-height: 30px;
    align-content: center;

    padding: 15px;    
} 

hr {
    border-bottom: 1px solid #2C2416;
    width: 100%;
    margin: 5px;
}

#about-me h1 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 275%;
    color: #2C2416;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

#about-me-left {
    grid-area: 1 / 1 / 2 / 2; 
    padding: 20px;
}

#circle-container {
    height: 300px;
    width: 300px;
    padding: 30px;
    border: 1px dotted #2C2416;
    border-radius: 50%;
    margin-left: 60px;
}

#circle-image {
   height: 100%;
   width: 100%;
   border-radius: 50%;
   background-color: pink;
   background: url('../images/midwife.jpg') no-repeat center center;
}

#about-me-right {
    grid-area: 1 / 2 / 2 / 3;
    padding: 20px;
    margin-right: 60px;
    line-height: 30px;
    clear: right;
    text-align: justify;
    
} 

#about-me-right h2 {
    font-family: Ubuntu, sans-serif;
    color: #2C2416;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
} 