@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Ubuntu&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}



body {
    font-family: Heebo, sans-serif;
    font-weight: 200;
    color: #453823;
}

/*header*/

#header {
    height: 100px;
    width: 100%;
    background-color: rgba(192, 161, 114, 0.5);
}

h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2C2416;
}


#logo {
    float: left;
    font-size: 250%;
    padding-left: 4px;
    margin-left: 20px;
    line-height: 60px;
 }

 #menu {
    font-size: 110%;
    letter-spacing: 5px;
    float: right;
    color: #2C2416;
    line-height: 150px;
}


#menu li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

#menu a {
    text-decoration: none;
    color:#2C2416;
}

/*main image*/

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/breastfeeding.jpg') no-repeat center center;
    background-size: cover;
}